html {
	min-height: 100%;
  	font-family: Helvetica;
  	display: flex;
  	flex-direction: column;
}

body {
  background-color: #F5F5DC;
  margin: 0;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  flex: auto;
  margin-top: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  padding-left: 16px;
  margin-right: 20px;
  font-size: 22px;
}

h2 { 
  font-size: 20px;
  color: #000;
}

p {
	font-size: 16px;
	color: #000;
}

img {
  border: 0;
}

.header {
  width: 100%;
  min-width: 460px;
  max-width: 960px;
  margin: 0 auto 30px;
  padding: 30px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: none;
  align-items: center;
  background: #FF7F50;
  width: 130px;
  height: 50px;
}

.nav {
  margin: -5px 0 0 -5px;
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  width: 200px;
  height: 50px;
  font-size: 18px;
  color: #FF7F50;
  text-decoration: none;
  display: flex;
  margin: 5px 0 0 20px;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  min-width: 460px;
  max-width: 960px;
  margin: auto;
  flex: auto;
  box-sizing: border-box;
}

.box {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 0 40px -50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-base {
  flex: 1 0 330px;
}

.box-side {
  margin-left: 50px;
  font: none;
}

.content {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.banners {
  flex: 1 1 200px;
}

.banner {
  width: 100%;
  min-width: 100px;
  min-height: 200px;
  font-size: 3rem;
  color: #fff;
  margin: 0 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news {
  flex: 1 1 200px;
}

.footer {
  background: #FF3366;
  width: 100%;
  max-width: 960px;
  min-width: 460px;
  color: #fff;
  margin: auto;
  padding: 3px;
  box-sizing: border-box;
}

@media screen and  (max-width: 800px) {
  .banners {
    margin-left: -30px;
    display: flex;
    flex-basis: 100%;
  }
  .banner {
    margin-left: 30px;
  }
  .posts {
    margin-left: 0;
  }
}

@media screen and  (max-width: 600px) {
  .content {
    display: block;
  }
  .banners {
    margin: 0;
    display: block;
  }
  .banner {
    margin-left: 0;
  }
  .posts {
    margin: 0;
  }
}